In [1]:
%%time

import pandas as pd

pos1 = pd.read_csv('pos_reviews.csv')
pos2 = pd.read_csv('pos_reviews2.csv')
neg = pd.read_csv('neg_reviews.csv')

Wall time: 8.42 s

In [2]:
pos1.shape, pos2.shape, neg.shape

((321230, 4), (61891, 4), (66658, 4))

In [3]:
pos1.isnull().sum()

Reviewer name        1
title               40
Review body         46
Review rating    15875
dtype: int64

In [4]:
pos2.isnull().sum()

Reviewer name        2
title                6
Review body         15
Review rating    19923
dtype: int64

In [5]:
neg.isnull().sum()

Reviewer name       2
title              10
Review body         3
Review rating    2237
dtype: int64

In [6]:
df = pd.concat([pos1, pos2, neg], ignore_index=True)

In [7]:
df.shape

(449779, 4)

In [8]:
df.to_csv('amazonReviews.csv',index=False)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('amazonReviews.csv')

In [3]:
df.shape

(449779, 4)

In [4]:
321230 + 61891

383121

In [7]:
df.head()

,Reviewer name,title,Review body,Review rating,sentiment
0,Genuine buyer,Pros and cons,Great quality and the sound is actually great....,5.0 out of 5 stars,NaN
1,CHETAN SHETTER,Never Expected in this price range... I Assure...,I've been using this from past 6 months. This ...,5.0 out of 5 stars,NaN
2,Kiran Kumar M,"Bass bastler, Awesome HD quality sound, rockin...",Perfect bass and nice one. Superb sound and it...,5.0 out of 5 stars,NaN
3,Raj Patel,Maybe buy boat basshead 100,Here is the review after 1 week of usePros:1.B...,4.0 out of 5 stars,NaN
4,SANJAY KUMAR TIWARI,Superb head stereo better than leading brands.,Purchased after seeing review with suspicion t...,5.0 out of 5 stars,NaN

In [6]:
import numpy as np
df['sentiment'] = np.nan

In [9]:
df.loc[:383122,'sentiment'] = 'positive'

In [10]:
df.loc[383122:,'sentiment'] = 'negative'

In [11]:
df.head()

,Reviewer name,title,Review body,Review rating,sentiment
0,Genuine buyer,Pros and cons,Great quality and the sound is actually great....,5.0 out of 5 stars,positive
1,CHETAN SHETTER,Never Expected in this price range... I Assure...,I've been using this from past 6 months. This ...,5.0 out of 5 stars,positive
2,Kiran Kumar M,"Bass bastler, Awesome HD quality sound, rockin...",Perfect bass and nice one. Superb sound and it...,5.0 out of 5 stars,positive
3,Raj Patel,Maybe buy boat basshead 100,Here is the review after 1 week of usePros:1.B...,4.0 out of 5 stars,positive
4,SANJAY KUMAR TIWARI,Superb head stereo better than leading brands.,Purchased after seeing review with suspicion t...,5.0 out of 5 stars,positive

In [12]:
df.isnull().sum()

Reviewer name        5
title               56
Review body         64
Review rating    38035
sentiment            0
dtype: int64

In [13]:
df['sentiment'].value_counts()

positive    383122
negative     66657
Name: sentiment, dtype: int64

In [14]:
df.to_csv('amazonReview.csv',index=False)